<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pet.ex.mapper.AdminMapper">

	<resultMap type="BoardtypeVO" id="boardtypevo">
		<result column="boardtype_id" property="boardtype_id" />
		<result column="boardtypename" property="boardtypename" />
	</resultMap>

	<resultMap type="BoardVO" id="boardvo">
		<result column="board_id" property="board_id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="pdate" property="pdate" />
		<result column="plike" property="plike" />
		<result column="hit" property="hit" />
		<result column="hashtag" property="hashtag" />
		<result column="pgroup" property="pgroup" />
		<result column="pstep" property="pstep" />
		<result column="pindent" property="pindent" />
		<result column="ratescore" property="ratescore" />
		<result column="avgscore" property="avgscore" />
		<result column="count" property="count" />
		<result column="rnum" property="rnum" />
		<collection property="memberVO" resultMap="membervo" />
		<collection property="boardtypeVO" resultMap="boardtypevo" />
		<collection property="goodsVO" resultMap="goodsvo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="CartVO" id="cartvo">
		<result column="cart_id" property="cart_id" />
		<result column="orderstate" property="orderstate" />
		<result column="amount" property="amount" />
		<collection property="memberVO" resultMap="membervo" />
		<collection property="goodsVO" resultMap="goodsvo" />
		<collection property="payVO" resultMap="payvo" />
	</resultMap>

	<resultMap type="CategoryVO" id="categoryvo">
		<result column="category_id" property="category_id" />
		<result column="categoryname" property="categoryname" />
		<result column="code" property="code" />
		<result column="sortname" property="sortname" />
	</resultMap>

	<resultMap type="FollowVO" id="followvo">
		<result column="follow_id" property="follow_id" />
		<result column="follower_id" property="follower_id" />
		<collection property="memberVO" resultMap="membervo" />
	</resultMap>

	<resultMap type="GoodsVO" id="goodsvo">
		<result column="goods_id" property="goods_id" />
		<result column="goodsname" property="goodsname" />
		<result column="price" property="price" />
		<result column="description" property="description" />
		<result column="psize" property="psize" />
		<result column="pcolor" property="pcolor" />
		<result column="thumbnail" property="thumbnail" />
		<result column="image3d" property="image3d" />
		<result column="count" property="count" />
		<result column="pcheck" property="pcheck" />
		<collection property="stockVO" resultMap="stockvo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="ImageVO" id="imagevo">
		<result column="img_id" property="img_id" />
		<result column="imgname" property="imgname" />
		<collection property="boardVO" resultMap="boardvo" />
		<collection property="goodsVO" resultMap="goodsvo" />
	</resultMap>

	<resultMap type="LogintypeVO" id="logintypevo">
		<result column="logintype_id" property="logintype_id" />
		<result column="logintypename" property="logintypename" />
	</resultMap>

	<resultMap type="MemberVO" id="membervo">
		<result column="member_id" property="member_id" />
		<result column="thumbnail" property="thumbnail" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="tel" property="tel" />
		<result column="address" property="address" />
		<result column="trycount" property="trycount" />
		<result column="enable" property="enable" />
		<result column="certify" property="certify" />
		<result column="pdate" property="pdate" />
		<collection property="roleVO" resultMap="rolevo" />
		<collection property="logintypeVO" resultMap="logintypevo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="PaymentVO" id="paymentvo">
		<result column="payment_id" property="payment_id" />
		<result column="paymentname" property="paymentname" />
	</resultMap>

	<resultMap type="PaystateVO" id="paystatevo">
		<result column="paystate_id" property="paystate_id" />
		<result column="paystatename" property="paystatename" />
	</resultMap>

	<resultMap type="PayVO" id="payvo">
		<result column="pay_id" property="pay_id" />
		<result column="paypice" property="payprice" />
		<result column="usepoint" property="usepoint" />
		<result column="earningpoint" property="earningpoint" />
		<result column="paydate" property="paydate" />
		<result column="deliveryaddress" property="deliveryaddress" />
		<result column="deliveryname" property="deliveryname" />
		<result column="deliverytel" property="deliverytel" />
		<collection property="PaymentVO" resultMap="paymentvo" />
		<collection property="PaystateVO" resultMap="paystatevo" />
	</resultMap>

	<resultMap type="PointtypeVO" id="pointtypevo">
		<result column="pointtype_id" property="pointtype_id" />
		<result column="pointtypename" property="pointtypename" />
	</resultMap>

	<resultMap type="PointVO" id="pointvo">
		<result column="point_id" property="point_id" />
		<result column="pscore" property="pscore" />
		<result column="pdate_id" property="point_id" />
		<collection property="PointtypeVO" resultMap="pointtypevo" />
		<collection property="MemberVO" resultMap="membervo" />
	</resultMap>

	<resultMap type="RoleVO" id="rolevo">
		<result column="role_id" property="role_id" />
		<result column="rolename" property="rolename" />
	</resultMap>

	<resultMap type="StockVO" id="stockvo">
		<result column="stock_id" property="stock_id" />
		<result column="stockname" property="stockname" />
	</resultMap>

	<resultMap type="TagVO" id="tagvo">
		<result column="tag_id" property="tag_id" />
		<result column="goodsname" property="goodsname" />
		<result column="goodspath" property="goodspath" />
		<collection property="boardVO" resultMap="boardvo" />
	</resultMap>


	<!-- 상품관리 -->
	<select id="getList" resultMap="goodsvo"> 
		<![CDATA[      
      		select * from (
   					 select rownum as rnum, a.* 
       		  				from ( 	
                 				select g.goods_id, g.goodsname, g.price, g.pcheck, s.stockname   
                				 from  goods g , stock s where g.stock_id = s.stock_id
             				 order by goods_id    
             				 )a where rownum <= #{pageNum} * #{amount}
   						)where rnum > (#{pageNum}-1) * #{amount}  
    	]]>
	</select>
	
 

	<select id="getTotalGoods" resultType="int">
		<![CDATA[
	         select count(*) from goods 
	  	 ]]>
	</select>

	<select id="getList2" resultMap="goodsvo"> 
	  	 <![CDATA[      
     	  	select g.goods_id, g.goodsname, g.price, s.stockname, g.pcheck
                from  goods g , stock s 
                where g.stock_id = s.stock_id and g.category_id=#{g.category_id} 
              order by goods_id 
     
      	]]>
	</select>

	<select id="getCatengoods" resultType="CategoryVO"> 
     <![CDATA[ 
        select level, CATEGORY_ID, CATEGORYNAME, CODE from category
        start with CODE is null connect by prior CATEGORY_ID = CODE and CATEGORY_ID<7
    ]]>
	</select>

	<select id="getSort" resultType="CategoryVO"> 
     <![CDATA[ 
        select categoryname , code , category_id from category WHERE code = code
    ]]>
	</select>

	<select id="getGoods" resultMap="goodsvo">
        <![CDATA[
     	select  g.goods_id, g.goodsname, g.description, s.stock_id, g.thumbnail, s.stockname, g.price, g.psize, g.pcolor, c.categoryname as sortname, cc.categoryname, c.category_id 
      	from goods g, stock s, category c, category cc
      	where g.stock_id=s.stock_id and g.category_id=c.category_id and c.code=cc.category_id and g.goods_id = #{goods_id} 
         ]]>
	</select>

	<select id="getStock" resultType="StockVO"> 
     <![CDATA[ 
	  	SELECT * FROM stock
	 ]]>
	</select>

	<select id="getCategory" resultType="CategoryVO"> 
     <![CDATA[ 
	  	select level, CATEGORY_ID, CATEGORYNAME, CODE from category
        start with CODE is null connect by prior CATEGORY_ID = CODE
	 ]]>
	</select>

	<!-- 상품등록 -->
	<insert id="goodsInput" parameterType="goodsvo"> 
	<![CDATA[ 
	   insert into goods (goods_id, goodsname, price, description, psize, pcolor, thumbnail, stock_id, category_id)   
       values (goods_seq.nextval, #{goodsname}, #{price}, #{description}, #{psize}, #{pcolor},#{thumbnail},#{stockVO.stock_id},#{categoryVO.category_id})

	]]>
	</insert>

	<!-- 상품수정 -->
	<update id="goodsModify" parameterType="goodsvo">
		<![CDATA[
	    	update goods set thumbnail = #{thumbnail},
	    	     price= #{price} , description = #{description},  
	    	     psize=#{psize}, pcolor=#{pcolor} , stock_id = #{stockVO.stock_id} , category_id = #{categoryVO.category_id}
	    	     where goods_id = #{goods_id} 
		]]>
	</update>

	<!-- 상품관련 게시글 삭제 -->
	<!-- <delete id="reviewDelete" parameterType="boardvo"> <![CDATA[ delete 
		from board where goods_id = #{goods_id} where boardtype_id=8 ]]> </delete> -->

	<delete id="boardDelete" parameterType="boardvo">
	   <![CDATA[
	     	delete from board where goods_id = #{goods_id} 
	   ]]>
	</delete>

	<delete id="goodsDelete" parameterType="goodsvo">
	   <![CDATA[
	     	delete from goods where goods_id = #{goods_id}
	   ]]>
	</delete>

	<!-- 상품게시글관리 -->

	<!-- 게시글등록되지않은 상품리스트 조회 -->
	<select id="getNboard" resultMap="goodsvo"> 
     <![CDATA[ 
    select goods_id, goodsname, TO_CHAR(price,'99,999') as price, pcolor, psize, cc.categoryname , c.categoryname as sortname, s.stockname from goods g, category c, category cc,stock s where g.stock_id=s.stock_id and c.category_id=g.category_id and c.code=cc.category_id 
      and goods_id not in 
		(select goods_id from board where boardtype_id='3') order by goods_id

    ]]>
	</select>

	<insert id="boardInput" parameterType="boardvo"> 
	<![CDATA[ 
	   insert into board (board_id,  content, plike, hit, hashtag, pgroup, pstep, pindent, member_id, boardtype_id, goods_id)   
       values (board_seq.nextval , #{content} , 0,0,#{hashtag},board_seq.currval,0,0, 'admin@naver.com', 3, #{goodsVO.goods_id})    
	]]>
	</insert>
	
	<update id="updateCheck" >
		<![CDATA[
	    	update goods set pcheck= N'등록' where goods_id in (select goods_id from board where boardtype_id=3) and goods_id = #{goodsVO.goods_id}
		]]>
	</update>
	

	<!-- 상품상세이미지 업로드 -->
	<insert id="detailInput">
	 <![CDATA[
    INSERT INTO IMAGE(img_id, imgname, goods_id) VALUES (image_seq.nextval, #{imgname}, #{goodsVO.goods_id})
	 ]]>
	</insert>

	<select id="getboardInfo" resultMap="boardvo"> 
		<![CDATA[ 
		select * from Board where board_id = #{board_id} 
		]]>
	</select>

	<select id="getBoard" resultMap="boardvo"> 
	<![CDATA[ 
      select b.board_id, g.goods_id, g.goodsname, g.description, b.content, b.pdate, s.stockname, g.price, g.psize, g.thumbnail, g.pcolor, b.hashtag, c.categoryname as sortname, cc.categoryname  
      from goods g, board b, stock s, category c, category cc
      where g.goods_id = b.goods_id and g.stock_id=s.stock_id and g.category_id=c.category_id and c.code=cc.category_id and b.board_id = #{board_id}  and b.boardtype_id=3 
	]]>
	</select>
	
	<select id="getImg" resultMap="imagevo"> 
	<![CDATA[ 
      select * from image where goods_id=#{goodsVO.goods_id}
	]]>
	</select>
	
	

	<select id="getRateone" parameterType="int" resultMap="boardvo">
	   <![CDATA[
	      select goods_id, round(avg(ratescore),1) as avgscore , count(*) as count from board 
	      where boardtype_id=8 and goods_id=#{goodsVO.goods_id} group by goods_id
	   ]]>
	</select>

	<select id="getcateBoard" resultType="CategoryVO"> 
     <![CDATA[ 
        select level, CATEGORY_ID, CATEGORYNAME, CODE from category
        start with CODE is null connect by prior CATEGORY_ID = CODE and CATEGORY_ID<7
    ]]>
	</select>

	<!-- 사료, 장난감 등 소분류 카테고리 이름 얻는 mapper -->
	<select id="getsortBoard" resultType="CategoryVO"> 
     <![CDATA[ 
        select categoryname , code , category_id from category WHERE code = code
    ]]>
	</select>






	<!-- 회원 정보 조회 -->
	<select id="getMemberlist" resultType="MemberVO">		
		<![CDATA[
		      SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                select * from member order by member_id asc
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}  		
	   ]]>
	</select>

	<!-- 회원 수 조회 -->
	<select id="getMembertotal" resultType="int">
	  <![CDATA[
	     select count(*) from member 
	   ]]>
	</select>

	<!-- 회원 상세 정보 -->
	<select id="getMemberdetail" resultType="MemberVO">
	  <![CDATA[
	      select member_id, name, tel, nickname, pdate, address, decode(category_id, 1, '고양이', 2, '강아지', 3, '파충류', 4, '어류', 5, '조류', 6, '기타', '없음') as concern from member where member_id=#{member_id}
	   ]]>
	</select>

	<!-- 회원 정보 삭제 -->
	<select id="memberDelete" resultType="MemberVO">
	  <![CDATA[
	      delete from member where member_id=#{member_id}
	   ]]>
	</select>


	<!-- 공지 글 수정 -->
	<select id="modify">
		<![CDATA[
			update board set title=#{title},content=#{content} where board_id = #{board_id}
		]]>
	</select>
	
	<!-- 공지 조회수 -->
	<select id="hit" resultType="int"> 
 	<![CDATA[ 
 	update board set hit = hit + 1 where board_id = #{board_id} 	
 	]]>
	</select>
	
	<!--공지사항 리스트 끌고오는거 -->
	<select id="getNoticeList" resultMap="boardvo">
   <![CDATA[
      select * from board b, member m 
      where b.member_id= m.member_id
      and boardtype_id=1 order by pdate desc
   ]]>
	</select>
		
	<!-- 공지사항 페이징처리용 -->
	<select id="getNoticeWithPaging" resultMap="boardvo">
		<![CDATA[		
		SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM (
			     	select b.board_id, b.title, b.content, b.pdate,b.hit, b.pgroup,b.pstep, b.pindent,b.hashtag, m.member_id, m.nickname, b.boardtype_id
			     	from  board b , member m
					where b.member_id = m.member_id
    				and b.boardtype_id= 1 order by b.pdate desc
			    ) A WHERE ROWNUM <= #{pageNum} * #{amount}
			) WHERE RNUM > (#{pageNum}-1) * #{amount}  
		]]>
	</select>

	<!-- 공지사항 토탈카운트 페이징 처리하려고 데려옴.. -->
	<select id="getNoticeTotalCount" resultType="int">
		<![CDATA[	
		select count(*) from board 
		where 
		boardtype_id= 1
		]]>
	</select>
	
		<!-- 공지사항 글쓰기 (이미지 추가해야함) -->
	<insert id="writeNotice" parameterType="boardvo">
	<![CDATA[
		insert into board(board_id, title, content, pdate,hit, pgroup, member_id, boardtype_id )
		values (board_seq.nextval, #{title}, #{content}, sysdate, 0, board_seq.currval,  #{memberVO.member_id}, 1)
 	]]>
	</insert>
	
	<delete id="noticeDelete" parameterType="boardvo">
	   <![CDATA[
	     	delete from board where board_id = #{board_id} 
	   ]]>
	</delete>
	
	<delete id="noticeImgDelete" parameterType="boardvo">
	   <![CDATA[
	     	delete from image where board_id =#{board_id} 
	   ]]>
	</delete>
	
		<!--공지사항 특정글 출력 -->
	<select id="getNoticeView" resultMap="boardvo">
   <![CDATA[
		select b.board_id, b.title, b.content, b.pdate,b.hit, b.pgroup,b.pstep, b.pindent,b.hashtag, m.member_id, m.nickname, b.boardtype_id 
		from board b, member m
		where b.member_id= m.member_id
		and b.board_id=#{board_id}
   ]]>
	</select>
	
	<select id="getNoticeImg" resultMap="imagevo"> 
	<![CDATA[ 
      select * from image where board_id=#{boardVO.board_id}
	]]>
	</select>
	
		<insert parameterType="imagevo" id="NoticeImgInput">

 		<![CDATA[
   			INSERT INTO IMAGE(img_id, imgname, board_id) VALUES (image_seq.nextval, #{imgname}, #{boardVO.board_id})
	 	]]>
	</insert>
	
		<select id="getNoticeBoard_id" resultType="boardvo">
		 <![CDATA[
  			select * from (select * from board where boardtype_id=1 order by pdate desc) where rownum=1
	 	]]>
	</select>
	
	
	<select id="getboardInfo1" resultMap="boardvo">

		 <![CDATA[ 
			select * from Board where board_id = #{board_id} 
		]]>

	</select>

	<select id="getBoard1" resultMap="boardvo">

		 <![CDATA[ 
   		 	 select * from board b, member m where b.member_id = m.member_id and b.board_id = #{board_id}  and b.boardtype_id=1
		]]>
	</select>
	
	
	<!-- 상품수정 -->
	<update id="ImgModify"  parameterType="imagevo">
		<![CDATA[
	    	update  image set imgname = #{imgname} where board_id = #{boardVO.board_id} 
		]]>
	</update>
	
<!-- 	
	리뷰 리스트
	<select id="getReviewList" resultMap="boardvo">
		<![CDATA[
		SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM (
			       select * from board where boardtype_id= 8 and goods_id = #{goodsVO.goods_id}
			       order by pdate desc
			    ) A WHERE ROWNUM <= #{cri.pageNum} * 5
			) WHERE RNUM > (#{cri.pageNum}-1) *5
		]]>
	</select>
	
		리뷰 이미지 
	<select id="getReviewImg" resultMap="imagevo">
		<![CDATA[
		select img_id, imgname, goods_id from image where board_id=#{boardVO.board_id}
		]]>
	</select>
	
		질답 댓글 게시판 페이징처리용
	<select id="getReviewWithPaging" resultMap="boardvo">
	<![CDATA[		
		SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM (
			       select * from board where boardtype_id= 8 and goods_id = #{goodsVO.goods_id}
			       order by pdate desc
			    ) A WHERE ROWNUM <= #{cri.pageNum} * 5
			) WHERE RNUM > (#{cri.pageNum}-1) *5
		]]>
	</select>
	 -->

    <!--리뷰 출력 -->
   <select id="getReviewList" resultMap="boardvo">
   <![CDATA[
                select * from  image i, board b, member m where b.goods_id= i.goods_id and m.member_id=b.member_id  and b.boardtype_id= 8 and b.goods_id = #{goodsVO.goods_id}
               order by b.pdate desc
         
   ]]>
   </select>
   
   <!--리뷰 이미지   -->
   <select id="getReviewImg" resultMap="imagevo">
      <![CDATA[
      select * from board b, image i  where b.goods_id = i.goods_id and b.board_id=#{boardVO.board_id} and  b.boardtype_id=8
      ]]>
   </select>

</mapper>
