<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.ex.mapper.CategoryMapper">

	<resultMap type="BoardtypeVO" id="boardtypevo">
		<result column="boardtype_id" property="boardtype_id" />
		<result column="boardtypename" property="boardtypename" />
	</resultMap>

	<resultMap type="BoardVO" id="boardvo">
		<result column="board_id" property="board_id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="pdate" property="pdate" />
		<result column="plike" property="plike" />
		<result column="hit" property="hit" />
		<result column="hashtag" property="hashtag" />
		<result column="pgroup" property="pgroup" />
		<result column="pstep" property="pstep" />
		<result column="pindent" property="pindent" />
		<result column="ratescore" property="ratescore" />
		<result column="avgscore" property="avgscore" />
		<result column="count" property="count" />
		<collection property="memberVO" resultMap="membervo" />
		<collection property="boardtypeVO" resultMap="boardtypevo" />
		<collection property="goodsVO" resultMap="goodsvo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="CartVO" id="cartvo">
		<result column="cart_id" property="cart_id" />
		<result column="orderstate" property="orderstate" />
		<result column="amount" property="amount" />
		<collection property="memberVO" resultMap="membervo" />
		<collection property="goodsVO" resultMap="goodsvo" />
		<collection property="payVO" resultMap="payvo" />
	</resultMap>

	<resultMap type="CategoryVO" id="categoryvo">
		<result column="category_id" property="category_id" />
		<result column="categoryname" property="categoryname" />
		<result column="code" property="code" />
		<result column="sortname" property="sortname" />
	</resultMap>

	<resultMap type="FollowVO" id="followvo">
		<result column="follow_id" property="follow_id" />
		<result column="follower_id" property="follower_id" />
		<collection property="memberVO" resultMap="membervo" />
	</resultMap>

	<resultMap type="GoodsVO" id="goodsvo">
		<result column="goods_id" property="goods_id" />
		<result column="goodsname" property="goodsname" />
		<result column="price" property="price" />
		<result column="description" property="description" />
		<result column="psize" property="psize" />
		<result column="pcolor" property="pcolor" />
		<result column="thumbnail" property="thumbnail" />
		<result column="image3d" property="image3d" />
		<result column="count" property="count" />
		<collection property="stockVO" resultMap="stockvo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="ImageVO" id="imagevo">
		<result column="imgname" property="imgname" />
		<collection property="boardVO" resultMap="boardvo" />
		<collection property="goodsVO" resultMap="goodsvo" />
	</resultMap>

	<resultMap type="LogintypeVO" id="logintypevo">
		<result column="logintype_id" property="logintype_id" />
		<result column="logintypename" property="logintypename" />
	</resultMap>

	<resultMap type="MemberVO" id="membervo">
		<result column="member_id" property="member_id" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="tel" property="tel" />
		<result column="address" property="address" />
		<result column="trycount" property="trycount" />
		<result column="enable" property="enable" />
		<result column="certify" property="certify" />
		<collection property="roleVO" resultMap="rolevo" />
		<collection property="logintypeVO" resultMap="logintypevo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="PaymentVO" id="paymentvo">
		<result column="payment_id" property="payment_id" />
		<result column="paymentname" property="paymentname" />
	</resultMap>

	<resultMap type="PaystateVO" id="paystatevo">
		<result column="paystate_id" property="paystate_id" />
		<result column="paystatename" property="paystatename" />
	</resultMap>

	<resultMap type="PayVO" id="payvo">
		<result column="pay_id" property="pay_id" />
		<result column="paypice" property="payprice" />
		<result column="usepoint" property="usepoint" />
		<result column="earningpoint" property="earningpoint" />
		<result column="paydate" property="paydate" />
		<result column="deliveryaddress" property="deliveryaddress" />
		<result column="deliveryname" property="deliveryname" />
		<result column="deliverytel" property="deliverytel" />
		<collection property="PaymentVO" resultMap="paymentvo" />
		<collection property="PaystateVO" resultMap="paystatevo" />
	</resultMap>

	<resultMap type="PointtypeVO" id="pointtypevo">
		<result column="pointtype_id" property="pointtype_id" />
		<result column="pointtypename" property="pointtypename" />
	</resultMap>

	<resultMap type="PointVO" id="pointvo">
		<result column="point_id" property="point_id" />
		<result column="pscore" property="pscore" />
		<result column="pdate_id" property="point_id" />
		<collection property="PointtypeVO" resultMap="pointtypevo" />
		<collection property="MemberVO" resultMap="membervo" />
	</resultMap>

	<resultMap type="RoleVO" id="rolevo">
		<result column="role_id" property="role_id" />
		<result column="rolename" property="rolename" />
	</resultMap>

	<resultMap type="StockVO" id="stockvo">
		<result column="stock_id" property="stock_id" />
		<result column="stockname" property="stockname" />
	</resultMap>

	<resultMap type="TagVO" id="tagvo">
		<result column="tag_id" property="tag_id" />
		<result column="goodsname" property="goodsname" />
		<result column="goodspath" property="goodspath" />
		<collection property="boardVO" resultMap="boardvo" />
	</resultMap>


	<!-- 고양이,강아지 등 대분류 카테고리 이름 얻는 mapper -->

	<select id="getCategory" resultType="CategoryVO"> 
     <![CDATA[ 
        select level, CATEGORY_ID, CATEGORYNAME, CODE from category
        start with CODE is null connect by prior CATEGORY_ID = CODE and CATEGORY_ID<7
    ]]>
	</select>

	<!-- 사료, 장난감 등 소분류 카테고리 이름 얻는 mapper -->
	<select id="getScategory" resultType="CategoryVO"> 
     <![CDATA[ 
        select categoryname , code , category_id from category WHERE code = code
    ]]>
	</select>


	<!-- 소분류 별로 분류해 카테고리 홈에 뿌려주는 mapper -->
	<select id="getSmallGoods" resultMap="boardvo"> 
     <![CDATA[ 
		 select g.thumbnail , g.goods_id, g.goodsname, TO_CHAR(g.price,'99,999') as price, b.board_id , pdate , g.category_id from board b, goods g 
		 where b.goods_id=g.goods_id and b.boardtype_id=3 and g.category_id=#{getCategory_id} ORDER BY pdate desc
    ]]>
	</select>




	<!-- 전체 상품을 최신순으로 조회해서 뿌려주는 mapper -->
	<select id="getboard" resultMap="boardvo"> 
     <![CDATA[ 
 
	  select g.thumbnail , g.goods_id, g.goodsname, TO_CHAR(g.price,'99,999') as price, b.board_id from board b, goods g 
	  where b.goods_id=g.goods_id and b.boardtype_id=3 
 
	]]>
	</select>

	<!-- 리뷰 별점 mapper -->
	<select id="getStorerate" resultMap="boardvo">
		<![CDATA[
	      
		     
		           select round(avg(ratescore),1) as avgscore, count(*) as count, goods_id from board where boardtype_id=8
		            group by goods_id order by count(*) 
		       
	   ]]>
	</select>

	<!-- 별점 높은순 mapper -->
	<select id="gethighStar" resultMap="boardvo"> 
     <![CDATA[ 
	
	select * from(
		           select round(avg(ratescore),1) as avgscore, count(*) as count, goods_id
                   from board where boardtype_id=8 group by goods_id)order by avgscore desc
	
	]]>
	</select>











	<!-- category 상품에 대한 높은 가격순 -->
	<select id="gethighprice" resultMap="boardvo"> 
     <![CDATA[ 
	  select g.thumbnail, g.goods_id, g.goodsname, TO_CHAR(g.price,'99,999') as price, b.board_id ,pdate from board b, goods g
 where b.goods_id=g.goods_id and b.boardtype_id=3 ORDER BY price DESC
	]]>
	</select>





	<select id="getrowprice" resultMap="boardvo"> 
     <![CDATA[ 
	  select  g.thumbnail, g.goods_id, g.goodsname, TO_CHAR(g.price,'99,999') as price, b.board_id ,pdate from board b, goods g
 where b.goods_id=g.goods_id and b.boardtype_id=3 ORDER BY price ASC
	]]>
	</select>

	<select id="getshighprice" resultMap="boardvo"> 
     <![CDATA[ 
	
	 select g.thumbnail, g.goods_id, g.goodsname, TO_CHAR(g.price,'99,999') as price, b.board_id , pdate , g.category_id from board b, goods g 
	 where b.goods_id=g.goods_id and b.boardtype_id=3
  	and g.category_id=#{g.category_id} ORDER BY price desc
	
	]]>
	</select>




	<select id="getrowSmallGoods" resultMap="boardvo"> 
     <![CDATA[ 
		 select g.thumbnail, g.goods_id, g.goodsname, TO_CHAR(g.price,'99,999') as price, b.board_id , g.category_id from board b, goods g 
		 where b.goods_id=g.goods_id and b.boardtype_id=3 and g.category_id= ${category_id} ORDER BY price asc
    ]]>
	</select>





</mapper>
