<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pet.ex.mapper.CommunityMapper">


	<resultMap type="BoardtypeVO" id="boardtypevo">
		<result column="boardtype_id" property="boardtype_id" />
		<result column="boardtypename" property="boardtypename" />
	</resultMap>

	<resultMap type="BoardVO" id="boardvo">
		<result column="board_id" property="board_id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="pdate" property="pdate" />
		<result column="plike" property="plike" />
		<result column="hit" property="hit" />
		<result column="hashtag" property="hashtag" />
		<result column="pgroup" property="pgroup" />
		<result column="pstep" property="pstep" />
		<result column="pindent" property="pindent" />
		<result column="ratescore" property="ratescore" />
		<result column="avgscore" property="avgscore" />
		<result column="count" property="count" />
		<collection property="memberVO" resultMap="membervo" />
		<collection property="boardtypeVO" resultMap="boardtypevo" />
		<collection property="goodsVO" resultMap="goodsvo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="CartVO" id="cartvo">
		<result column="cart_id" property="cart_id" />
		<result column="orderstate" property="orderstate" />
		<result column="amount" property="amount" />
		<collection property="memberVO" resultMap="membervo" />
		<collection property="goodsVO" resultMap="goodsvo" />
		<collection property="payVO" resultMap="payvo" />
	</resultMap>

	<resultMap type="CategoryVO" id="categoryvo">
		<result column="category_id" property="category_id" />
		<result column="categoryname" property="categoryname" />
		<result column="code" property="code" />
		<result column="sortnumber" property="sortnumber" />
	</resultMap>

	<resultMap type="FollowVO" id="followvo">
		<result column="follow_id" property="follow_id" />
		<result column="follower_id" property="follower_id" />
		<collection property="memberVO" resultMap="membervo" />
	</resultMap>

	<resultMap type="GoodsVO" id="goodsvo">
		<result column="goods_id" property="goods_id" />
		<result column="goodsname" property="goodsname" />
		<result column="price" property="price" />
		<result column="description" property="description" />
		<result column="psize" property="psize" />
		<result column="pcolor" property="pcolor" />
		<result column="thumbnail" property="thumbnail" />
		<result column="image3d" property="image3d" />
		<result column="count" property="count" />
		<collection property="stockVO" resultMap="stockvo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="ImageVO" id="imagevo">
		<result column="image_id" property="image_id" />
		<result column="imagename" property="imagename" />
		<result column="imagepath" property="imagepath" />
		<collection property="boardVO" resultMap="boardvo" />
	</resultMap>

	<resultMap type="ImgtestVO" id="imgtestvo">
		<result column="imgtest_id" property="imgtest_id" />
		<result column="oimgname" property="oimgname" />
		<result column="simgname" property="simgname" />
		<result column="filesize" property="filesize" />
		<result column="savepath" property="savepath" />
		<collection property="boardVO" resultMap="boardvo" />
	</resultMap>

	<resultMap type="LogintypeVO" id="logintypevo">
		<result column="logintype_id" property="logintype_id" />
		<result column="logintypename" property="logintypename" />
	</resultMap>

	<resultMap type="MemberVO" id="membervo">
		<result column="member_id" property="member_id" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="tel" property="tel" />
		<result column="address" property="address" />
		<result column="trycount" property="trycount" />
		<result column="enable" property="enable" />
		<result column="certify" property="certify" />
		<collection property="roleVO" resultMap="rolevo" />
		<collection property="logintypeVO" resultMap="logintypevo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="PaymentVO" id="paymentvo">
		<result column="payment_id" property="payment_id" />
		<result column="paymentname" property="paymentname" />
	</resultMap>

	<resultMap type="PaystateVO" id="paystatevo">
		<result column="paystate_id" property="paystate_id" />
		<result column="paystatename" property="paystatename" />
	</resultMap>

	<resultMap type="PayVO" id="payvo">
		<result column="pay_id" property="pay_id" />
		<result column="paypice" property="payprice" />
		<result column="usepoint" property="usepoint" />
		<result column="earningpoint" property="earningpoint" />
		<result column="paydate" property="paydate" />
		<result column="deliveryaddress" property="deliveryaddress" />
		<result column="deliveryname" property="deliveryname" />
		<result column="deliverytel" property="deliverytel" />
		<collection property="PaymentVO" resultMap="paymentvo" />
		<collection property="PaystateVO" resultMap="paystatevo" />
	</resultMap>

	<resultMap type="PointtypeVO" id="pointtypevo">
		<result column="pointtype_id" property="pointtype_id" />
		<result column="pointtypename" property="pointtypename" />
	</resultMap>

	<resultMap type="PointVO" id="pointvo">
		<result column="point_id" property="point_id" />
		<result column="pscore" property="pscore" />
		<result column="pdate_id" property="point_id" />
		<collection property="PointtypeVO" resultMap="pointtypevo" />
		<collection property="MemberVO" resultMap="membervo" />
	</resultMap>

	<resultMap type="RoleVO" id="rolevo">
		<result column="role_id" property="role_id" />
		<result column="rolename" property="rolename" />
	</resultMap>

	<resultMap type="StockVO" id="stockvo">
		<result column="stock_id" property="stock_id" />
		<result column="stockname" property="stockname" />
	</resultMap>

	<resultMap type="TagVO" id="tagvo">
		<result column="tag_id" property="tag_id" />
		<result column="goodsname" property="goodsname" />
		<result column="goodspath" property="goodspath" />
		<collection property="boardVO" resultMap="boardvo" />
	</resultMap>

	
	<!--노하우 리스트 끌고오는거 -->
	<select id="getTipsList" resultMap="boardvo">
   <![CDATA[
      select * from board b, member m 
      where b.member_id= m.member_id
      and boardtype_id=5 order by pdate desc
   ]]>
	</select>
	
	<!-- 노하우 글쓰기 (이미지 추가해야함) -->
	<insert id="writeTips" parameterType="boardvo">
	<![CDATA[
		insert into board(board_id, title, content, pdate,hit, pgroup, pstep, pindent,hashtag, member_id, boardtype_id , category_id)
		values (board_seq.nextval, #{title}, #{content}, sysdate, 0, board_seq.currval, 0, 0, #{hashtag}, #{memberVO.member_id}, 5 , #{categoryVO.category_id})
 	]]>
	</insert>
	
	<!-- 노하우 특정글 출력 -->
	<select id="getTipsview" resultMap="boardvo">
   <![CDATA[
		select b.board_id, b.title, b.content, b.pdate,b.hit, b.pgroup,b.pstep, b.pindent,b.hashtag, m.member_id, m.nickname, b.boardtype_id 
		from board b, member m
		where b.member_id= m.member_id
		and b.board_id=#{board_id}
   ]]>
	</select>
	
	<!-- 노하우 검색 -->
	<select id="getTsearch" resultMap="boardvo">
   <![CDATA[
   		select * from board where content like '%'||#{keyword}||'%' and boardtype_id='5' or title like '%'||#{keyword}||'%' and boardtype_id='5'
   ]]>
	</select>
	
	<!-- 노하우 게시판  페이징처리용 -->
	<select id="getTipsWithPaging" resultMap="boardvo">
		<![CDATA[		
		SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM (
			     	select b.board_id, b.title, b.content, b.pdate,b.hit, b.pgroup,b.pstep, b.pindent,b.hashtag, m.member_id, m.nickname, b.boardtype_id 
			     	from  board b , member m
					where b.member_id = m.member_id
    				and b.boardtype_id= 5 order by board_id desc
			    ) A WHERE ROWNUM <= #{pageNum} * #{amount}
			) WHERE RNUM > (#{pageNum}-1) * #{amount}  
		]]>
	</select>
	
	<!-- 노하우 토탈카운트 페이징 처리하려고 데려옴.. -->
	<select id="getTiptalCount" resultType="int">
		<![CDATA[	
		select count(*) from board
		b , member m
		where b.member_id = m.member_id
		and b.boardtype_id= 5
		]]>
	</select>


			<!-- 질문과 답변 -->

	<!--질문과 답변 리스트 끌고오는거 -->
	<select id="getQnaList" resultMap="boardvo">
   <![CDATA[
      select * from board b, member m 
      where b.member_id= m.member_id
      and boardtype_id=4 order by pdate desc
   ]]>
	</select>
	
	<!-- 질답 특정글 출력 (이미지 추가해야함)-->
	<select id="getQnaview" resultMap="boardvo">
   <![CDATA[
	select b.board_id, b.title, b.content, b.pdate,b.hit, b.pgroup,b.pstep, b.pindent,b.hashtag, m.member_id, m.nickname, b.boardtype_id 
	from board b, member m
	where b.member_id= m.member_id
	and b.board_id=#{board_id}
   ]]>
	</select>

	<!-- 질문과 답변 글쓰기 (이미지 추가해야함) -->
	<insert id="writeQna" parameterType="boardvo">
	<![CDATA[
		insert into board(board_id, title, content, pdate,hit, pgroup, pstep, pindent,hashtag, member_id, boardtype_id , category_id)
		values (board_seq.nextval, #{title}, #{content}, sysdate, 0, board_seq.currval, 0, 0, #{hashtag}, #{memberVO.member_id}, 4 , #{categoryVO.category_id})
 	]]>
	</insert>	

	<!-- 질문과 답변 댓글쓰기 -->
	<insert id="writeComment" parameterType="boardvo">
	<![CDATA[
		insert into board(board_id, content, pdate, pgroup, pstep, pindent, member_id, boardtype_id)
		values (board_seq.nextval, #{content}, sysdate, #{pgroup}, #{pstep}+1, #{pindent}+1, '#{memberVO.member_id}', 4 )
 	]]>
	</insert>
	
	<!-- 특정글에 대한 댓글 출력 -->
	<select id="getComment" resultMap="boardvo">
   <![CDATA[
	  select * from board b, member m where b.member_id=m.member_id and boardtype_id= 9 and pgroup = (select pgroup from board where board_id=#{board_id})
   ]]>
	</select>

	<!-- 질문과답변 검색 -->
	<select id="getQsearch" resultMap="boardvo">
   <![CDATA[
   		select * from board where content like '%'||#{keyword}||'%' and boardtype_id='4' or title like '%'||#{keyword}||'%' and boardtype_id='4'
   ]]>
	</select>
	
	
	<!-- 게시판 종류 질문과답변으로 지정해놨음 페이징처리용 -->
	<select id="getListWithPaging" resultMap="boardvo">
		<![CDATA[		
		SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM (
			     	select b.board_id, b.title, b.content, b.pdate,b.hit, b.pgroup,b.pstep, b.pindent,b.hashtag, m.member_id, m.nickname, b.boardtype_id 
			     	from  board b , member m
					where b.member_id = m.member_id
    				and b.boardtype_id= 4 order by board_id desc
			    ) A WHERE ROWNUM <= #{pageNum} * #{amount}
			) WHERE RNUM > (#{pageNum}-1) * #{amount}  
		]]>
	</select>

	<!-- 질문과답변 토탈카운트 페이징 처리하려고 데려옴.. -->
	<select id="getTotalCount" resultType="int">
		<![CDATA[	
		select count(*) from board
		b , member m
		where b.member_id = m.member_id
		and b.boardtype_id= 4
		]]>
	</select>

	<!-- 노하우, 질답 글 수정 -->
	<select id="modify">
		<![CDATA[
			update board set title=#{title},content=#{content} where board_id = #{board_id}
		]]>
	</select>

	<!--노하우, 질답 글 삭제 -->
	<select id="delete">
		<![CDATA[
			delete from board where board_id = #{board_id}
		]]>
	</select>
	
	<!-- 노하우, 질답 조회수 -->
 	<select id="hit" resultType="int"> 
 	<![CDATA[ update board set hit = hit + 1 where board_id = #{board_id} ]]> 
	</select>
	
	<!-- 검색용 카운트 -->
	<select id="getSTotalCount" resultType="int">
		<![CDATA[
		select count(*) from
		board
		where content like '%'||#{keyword}||'%' and boardtype_id='4' or
		title like '%'||#{keyword}||'%' and boardtype_id='4'
		]]>
	</select>
	
<!-- 	 해시태그 분리  
	<select id="sepTag" resultMap="boardvo">
		<![CDATA[	
		select substr(hashtag,'#','#') as hashtag from hashtag
		]]>
	</select> -->


	<!-- 댓글 카운트 해야함...수정해야함 -->
	<!-- <select id="getReviewcount" resultMap="boardvo"> <![CDATA[ select count(*) 
		as count from board where boardtype_id=8 and goods_id=12 ]]> </select> -->

	<!-- 리뷰쓰기 -->
	<!-- <insert id="writeReview" parameterType="boardvo"> <![CDATA[ insert 
		into board(board_id, content, pdate,ratescore, goods_id, pgroup, member_id, 
		boardtype_id) values (board_seq.nextval, #{content}, sysdate, #{ratescore}, 
		goods_id, #{pgroup}, '#{memberVO.member_id}', 8 ) ]]> </insert> -->
</mapper>
