<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pet.ex.mapper.LoginMapper">

	<resultMap type="RoleVO" id="roleVO">
		<result column="role_id" property="role_id" />
		<result column="rolename" property="rolename" />
	</resultMap>

	<resultMap type="LoginTypeVO" id="logintypeVO">
		<result column="logintype_id" property="logintype_id" />
		<result column="logintypename" property="logintypename" />

	</resultMap>

	<resultMap type="CategoryVO" id="categoryVO">
		<result column="category_id" property="category_id" />
		<result column="categoryname" property="categoryname" />

	</resultMap>

	<resultMap type="MemberVO" id="memberVO">

		<result column="member_id" property="member_id" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="tel" property="tel" />
		<result column="address" property="address" />
		<result column="trycount" property="trycount" />
		<result column="enable" property="enable" />
		<result column="username" property="username" />
		<result column="certify" property="certify" />

		<collection property="roleVO" resultMap="roleVO"></collection>
		<collection property="logintypeVO" resultMap="logintypeVO"></collection>
		<collection property="categoryVO" resultMap="categoryVO"></collection>
	</resultMap>

	<!-- 회원정보조회 -->
	<select id="getMember" parameterType="String"
		resultMap="memberVO">
		<![CDATA[
		SELECT
		member_id
		, member_id as username
		, password
		, name
		, nickname
		, tel
		, address
		, trycount
		, enable
		,m.role_id
		, rolename
		,m.logintype_id
		, logintypename
		,m.category_id
		, categoryname
		,certify
		FROM
		MEMBER
		m, role r , logintype
		l ,category c
		WHERE m.member_id = #{member_id} and
		m.role_id=r.role_id and
		m.logintype_id=l.logintype_id and
		m.category_id=c.category_id
		]]>
	</select>

	<!-- 비밀번호 틀린횟수 증가 -->
	<update id="updateTryCount" parameterType="String">
		<![CDATA[
	
		UPDATE member
		SET
		trycount = trycount + 1
		WHERE
		member_id = #{member_id}
		]]>
	</update>

	<!-- 로그인 성공시 비밀번호 틀린횟수 초기화 -->
	<update id="updateResetTryCount" parameterType="String">
		<![CDATA[
		UPDATE member
		SET
		trycount = 0
		WHERE
		member_id = #{member_id}
			]]>
	</update>

	<!-- 회원가입 insert -->
	<insert id="insertMember" parameterType="MemberVO">
			<![CDATA[
		insert into member
		(
		member_id
		, password
		, name
		,nickname
		,tel
		,address
		, role_id
		,logintype_id
		,category_id
		,certify
		)
		VALUES
		(
		#{member_id}
		, #{password}
		, #{name}
		, #{nickname}
		, #{tel}
		,#{address}
		,#{roleVO.role_id}
		,#{logintypeVO.logintype_id}
		,#{categoryVO.category_id}
		,#{certify}
		)
			]]>
	</insert>

	<!-- 회원가입 시 카테고리리스트 가져옴 -->
	<select id="listCategory" resultType="CategoryVO">
	<![CDATA[
  	select category_id, categoryname from category where category_id<7 order by category_id  
   ]]>
	</select>

	<!-- 이메일 인증(certify 확인) -->
	<select id="emailCheck" parameterType="MemberVO"
		resultType="MemberVO">
		<![CDATA[
		select
		member_id from member where member_id = #{member_id}
		and
		certify=#{certify}
		  ]]>
	</select>

	<!-- 이메일 인증 성공시 certify 'Y'로 update -->
	<update id="updateCertify" parameterType="MemberVO">
		<![CDATA[
		update member set
		certify = 'Y' where member_id =
		#{member_id}
			  ]]>
	</update>

</mapper>