<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.ex.mapper.MapMapper">

	<resultMap type="BoardtypeVO" id="boardtypevo">
		<result column="boardtype_id" property="boardtype_id" />
		<result column="boardtypename" property="boardtypename" />
	</resultMap>

	<resultMap type="BoardVO" id="boardvo">
		<result column="board_id" property="board_id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="pdate" property="pdate" />
		<result column="plike" property="plike" />
		<result column="hit" property="hit" />
		<result column="hashtag" property="hashtag" />
		<result column="pgroup" property="pgroup" />
		<result column="pstep" property="pstep" />
		<result column="pindent" property="pindent" />
		<result column="ratescore" property="ratescore" />
		<result column="avgscore" property="avgscore" />
		<result column="count" property="count" />
		<collection property="memberVO" resultMap="membervo" />
		<collection property="boardtypeVO" resultMap="boardtypevo" />
		<collection property="goodsVO" resultMap="goodsvo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="CartVO" id="cartvo">
		<result column="cart_id" property="cart_id" />
		<result column="orderstate" property="orderstate" />
		<result column="amount" property="amount" />
		<collection property="memberVO" resultMap="membervo" />
		<collection property="goodsVO" resultMap="goodsvo" />
		<collection property="payVO" resultMap="payvo" />
	</resultMap>

	<resultMap type="CategoryVO" id="categoryvo">
		<result column="category_id" property="category_id" />
		<result column="categoryname" property="categoryname" />
		<result column="code" property="code" />
		<result column="sortname" property="sortname" />
	</resultMap>

	<resultMap type="FollowVO" id="followvo">
		<result column="follow_id" property="follow_id" />
		<result column="follower_id" property="follower_id" />
		<collection property="memberVO" resultMap="membervo" />
	</resultMap>

	<resultMap type="GoodsVO" id="goodsvo">
		<result column="goods_id" property="goods_id" />
		<result column="goodsname" property="goodsname" />
		<result column="price" property="price" />
		<result column="description" property="description" />
		<result column="psize" property="psize" />
		<result column="pcolor" property="pcolor" />
		<result column="thumbnail" property="thumbnail" />
		<result column="image3d" property="image3d" />
		<result column="count" property="count" />
		<collection property="stockVO" resultMap="stockvo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="ImageVO" id="imagevo">
		<result column="imgname" property="imgname" />
		<collection property="boardVO" resultMap="boardvo" />
		<collection property="goodsVO" resultMap="goodsvo" />
	</resultMap>

	<resultMap type="LogintypeVO" id="logintypevo">
		<result column="logintype_id" property="logintype_id" />
		<result column="logintypename" property="logintypename" />
	</resultMap>

	<resultMap type="MemberVO" id="membervo">
		<result column="member_id" property="member_id" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="tel" property="tel" />
		<result column="address" property="address" />
		<result column="trycount" property="trycount" />
		<result column="enable" property="enable" />
		<result column="certify" property="certify" />
		<collection property="roleVO" resultMap="rolevo" />
		<collection property="logintypeVO" resultMap="logintypevo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="PaymentVO" id="paymentvo">
		<result column="payment_id" property="payment_id" />
		<result column="paymentname" property="paymentname" />
	</resultMap>

	<resultMap type="PaystateVO" id="paystatevo">
		<result column="paystate_id" property="paystate_id" />
		<result column="paystatename" property="paystatename" />
	</resultMap>

	<resultMap type="PayVO" id="payvo">
		<result column="pay_id" property="pay_id" />
		<result column="paypice" property="payprice" />
		<result column="usepoint" property="usepoint" />
		<result column="earningpoint" property="earningpoint" />
		<result column="paydate" property="paydate" />
		<result column="deliveryaddress" property="deliveryaddress" />
		<result column="deliveryname" property="deliveryname" />
		<result column="deliverytel" property="deliverytel" />
		<collection property="PaymentVO" resultMap="paymentvo" />
		<collection property="PaystateVO" resultMap="paystatevo" />
	</resultMap>

	<resultMap type="PointtypeVO" id="pointtypevo">
		<result column="pointtype_id" property="pointtype_id" />
		<result column="pointtypename" property="pointtypename" />
	</resultMap>

	<resultMap type="PointVO" id="pointvo">
		<result column="point_id" property="point_id" />
		<result column="pscore" property="pscore" />
		<result column="pdate_id" property="point_id" />
		<collection property="PointtypeVO" resultMap="pointtypevo" />
		<collection property="MemberVO" resultMap="membervo" />
	</resultMap>

	<resultMap type="RoleVO" id="rolevo">
		<result column="role_id" property="role_id" />
		<result column="rolename" property="rolename" />
	</resultMap>

	<resultMap type="StockVO" id="stockvo">
		<result column="stock_id" property="stock_id" />
		<result column="stockname" property="stockname" />
	</resultMap>

	<resultMap type="TagVO" id="tagvo">
		<result column="tag_id" property="tag_id" />
		<result column="goodsname" property="goodsname" />
		<result column="goodspath" property="goodspath" />
		<collection property="boardVO" resultMap="boardvo" />
	</resultMap>


	<select id="getList" resultMap="boardvo"> 
		<![CDATA[ 
			
		 select * from(select rownum as rnum, a.* from(select * from board where boardtype_id=7 and location = #{location} order by pgroup desc, pstep asc)
      a where rownum <= #{pageNum} * #{amount}) where rnum > (#{pageNum}-1) * #{amount}
		]]>
	</select>

	<select id="getTotal" resultType="int">
    <![CDATA[  select count(*) from board  
     ]]>
	</select>

	<insert id="write" parameterType="boardvo">
   <![CDATA[
      insert into board (board_id, title, pdate, content, plike, hit, hashtag, pgroup, pstep, pindent, member_id, boardtype_id ,location)   
       values (board_seq.nextval ,#{title}, sysdate, #{content} ,#{plike},#{hit},'인사',board_seq.currval,#{pstep},#{pindent},#{memberVO.member_id}, 7 ,#{memberVO.location})
   ]]>
	</insert>

	<select id="content_view" resultMap="boardvo">
   <![CDATA[
      select * from board where board_id = #{board_id}
   ]]>
	</select>

	<select id="delete">
   <![CDATA[
    delete from board where board_id = #{board_id}
   ]]>
	</select>

<insert id="insertLoc">
   <![CDATA[
      update member set location = #{location} WHERE member_id=#{member_id}
   ]]>
	</insert>




<select id="getMemberList" resultType="MemberVO">
   <![CDATA[
    select * from member where member_id=#{member_id}
   ]]>
	</select>


</mapper>
