<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.ex.mapper.SnsMapper">


	<!-- sns등록 -->
	<insert parameterType="boardvo" id="snsBoardInput">
	   <![CDATA[ 
	  	 			insert into board (board_id,  content, plike, hit, hashtag, pgroup, pstep,  member_id, boardtype_id,category_id)   
      			    values (board_seq.nextval , #{content} , 0,    0,  #{hashtag}, board_seq.currval,0,#{memberVO.member_id}, 2 , #{categoryVO.category_id})    
		]]>
	</insert>

	<select id="getSnsBoard_id" resultType="boardvo">

 <![CDATA[
  			select * from (select * from board where boardtype_id=2 order by pdate desc) where rownum=1
	 	]]>
	</select>
	<!-- 다중이미지업로드 -->
	<insert parameterType="imagevo" id="snsImgInput">

 		<![CDATA[
   				 INSERT INTO IMAGE(img_id, imgname, board_id) VALUES (image_seq.nextval, #{imgname}, #{boardVO.board_id})
	 	]]>
	</insert>



	<!-- sns조회 -->
	<select id="getboardInfo" resultMap="boardvo">

		 <![CDATA[ 
			select * from Board where board_id = #{board_id} and boardtype_id=2
		]]>

	</select>

	<select id="getBoard" resultMap="boardvo">

		 <![CDATA[ 
   		 	 select * from board b, member m, category c  where b.category_id = c.category_id and b.member_id = m.member_id and b.board_id = #{board_id}  and b.boardtype_id=2 
		]]>
	</select>

	<select id="getImg" resultMap="imagevo">

		 <![CDATA[ 
      		select * from image where board_id=#{boardVO.board_id}
		]]>
	</select>


	<!-- sns 수정 -->
	<select id="modifySns">
		<![CDATA[
			update board set content=#{content}, hashtag=#{hashtag}, category_id=#{categoryVO.category_id} where board_id = #{board_id}
		]]>
	</select>
	
	<!-- SNS 게시글 삭제(이미지,게시글) -->
	<delete id="deleteImg" parameterType="imagevo">
	   <![CDATA[
	     	delete from image where board_id = #{board_id} 
	   ]]>
	</delete>

	<delete id="deleteBoard" parameterType="boardvo">
	   <![CDATA[
	     	delete from board where board_id = #{board_id}
	   ]]>
	</delete>

	<!-- sns리스트 - 한개의 이미지만 가져와서 리스트로 뿌림 -->
	<select id="getsnsList" resultMap="imagevo">

		 <![CDATA[ 
		 		SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM (
      		      select i.imgname, m.nickname,  m.thumbnail, b.hit, b.plike, b.board_id, b.content from image i, board b, member m where m.member_id = b.member_id 
				 	and i.board_id=b.board_id and b.boardtype_id=2 and pstep=0 and img_id in( 
 					select  min(img_id) as img_id from image where board_id is not null group by board_id) order by b.pdate desc
 				)A WHERE ROWNUM <= #{pageNum} * #{amount}
			) WHERE RNUM > (#{pageNum}-1) * #{amount}  
		]]>
	</select>
	
	<select id="getSnsCategory" resultMap="imagevo">

		 <![CDATA[ 
		 		 
      		        select i.imgname, m.nickname,  c.category_id, m.thumbnail, b.hit, b.plike, b.board_id, b.content from image i, board b, member m, category c where b.category_id=c.category_id and c.category_id=#{boardVO.categoryVO.category_id} and m.member_id = b.member_id 
				 	and i.board_id=b.board_id and b.boardtype_id=2 and pstep=0 and img_id in( 
 					select  min(img_id) as img_id from image where board_id is not null group by board_id) order by b.pdate desc
 			 
		]]>
	</select>
	  <select id="getUserboard" resultMap="imagevo">

		 <![CDATA[ 
		 		select * from (select rownum as rnum, A.* from(select i.imgname, m.nickname, b.board_id from image i, board b, member m 
 				where m.member_id = b.member_id and m.nickname = #{nickname} and i.board_id=b.board_id and b.boardtype_id=2 and pstep=0 and img_id in( 
 					select  min(img_id) as img_id from image where board_id is not null group by board_id) order by b.pdate desc) A
                   ) Where rnum <=4
		]]>
	</select>  
	 
	
	<!-- sns 총갯수 -->
	<select id="getSnstotal" resultType="int">
		<![CDATA[	
		select count(*) from board where boardtype_id=2 and pstep = 0
		]]>
	</select>

	<!-- 글에 대한 댓글 출력 -->
	<select id="listComment" resultMap="boardvo">
   <![CDATA[
	SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM (
			       select b.board_id, b.content, m.member_id, m.nickname,m.thumbnail, b.pdate from board b, member m where b.member_id=m.member_id and boardtype_id= 2 and pgroup = 
			       (select pgroup from board where board_id=#{board_id}) and pstep=1 order by b.pdate desc
			    ) A WHERE ROWNUM <= #{cri.pageNum} * 5
			) WHERE RNUM > (#{cri.pageNum} - 1) * 5  
   ]]>
	</select>

	<select id="counta" resultType="int">
		<![CDATA[
	         select count(content) as count  from board where boardtype_id= 2 and pgroup = (select pgroup from board where board_id=#{board_id}) and pstep=1 order by content
	  	 ]]>
	</select>

	<!-- 댓글 작성 후 ajax로 출력 -->
	<select id="getComment" resultMap="boardvo">
   <![CDATA[
	 select board_id, nickname, pgroup, content, pdate, thumbnail from (select b.board_id, m.nickname, b.pgroup, b.content, b.pdate, m.thumbnail from board b, member m where b.member_id=m.member_id and boardtype_id= 2 and pgroup = (select pgroup from board where board_id=#{board_id}) and pstep=1 order by b.pdate desc) where rownum=1
   ]]>
	</select>

	<select id="hit" resultType="int"> 
 	<![CDATA[ 
 	update board set hit = hit + 1 where board_id = #{board_id} 	
 	]]>
	</select>

	<insert id="insertComment">
		<![CDATA[
		insert into board(board_id,content, pgroup, pstep,member_id, boardtype_id )
		values (board_seq.nextval,#{content}, #{pgroup}, 1, #{memberVO.member_id}, 2)
	]]>
	</insert>
	
	<!-- 댓글삭제 -->
	<select id="deleteComment">
   <![CDATA[
    delete from board where board_id = #{board_id}
   ]]>
	</select>



	<select id="getMemberInfo" resultType="membervo">
		<![CDATA[
	         select * from member where member_id=#{member_id};
	  	 ]]>
	</select>
	
		<!-- SNS 댓글 게시판 페이징처리용 -->
	<select id="getCommentsWithPaging" resultMap="boardvo">
	<![CDATA[		
		SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM (
			       select b.content, m.member_id,m.thumbnail, m.nickname, b.pdate from board b, member m where b.member_id=m.member_id and boardtype_id= 2 and pgroup = 
			       (select pgroup from board where board_id=#{board_id}) and pstep=1 order by b.pdate desc
			    ) A WHERE ROWNUM <= #{cri.pageNum} * 5
			) WHERE RNUM > (#{cri.pageNum}-1) *5
		]]>
	</select>
	
	<select id="getNickname" resultType="String">
		<![CDATA[
	         select nickname from member m, board b where m.member_id=b.member_id and b.board_id=#{boardVO.board_id}
	  	 ]]>
	</select>
	
	
	<!-- 좋아요 mapper start -->
	
		<!-- 좋아요 수 조회 -->
	<select id="getLiketotal" resultType="int">
		<![CDATA[
	      select count(*) from plike where board_id = #{boardVO.board_id}
	   ]]>
	</select>
	
	
	<!-- 좋아요 유무 체크 -->
	<select id="isLike" resultType="int">
		<![CDATA[
	        select count(*) from plike where board_id=#{boardVO.board_id} and member_id=#{memberVO.member_id}
	   ]]>
	</select> 

	
	<!-- 좋아요 리스트 조회 -->
	<select id="getLikelist" resultMap="plikevo">
		<![CDATA[
		 select p.member_id , m.nickname from plike p , member m where p.member_id = m.member_id and board_id = #{boardVO.board_id}
	        
	   ]]>
	</select> 
	
	
	<!-- 좋아요 -->
	<insert id="like">
		<![CDATA[
	        insert into plike values(plike_seq.nextval, #{boardVO.board_id}, #{memberVO.member_id})
	   ]]>
	</insert>
	
	<!-- 좋아요 취소-->
	<select id="likecancel">
		<![CDATA[
	         delete from plike where board_id=#{boardVO.board_id} and member_id=#{memberVO.member_id}
	   ]]>
	</select>  
	
	<!-- 전체 좋아요 출력-->
	<select id="getLikeprint" resultMap="plikevo">
		<![CDATA[
	       	select board_id ,count(*) as count from plike group by board_id
	   ]]>
	</select>
	
	<!-- plike board테이블에 입력-->
	<select id="insertplike">
 	  <![CDATA[
  	    update board set plike = plike+1 WHERE board_id=#{board_id}
  	 ]]>
		</select>


	<!-- plike board테이블에 삭제-->
	<select id="deleteplike">
  		 <![CDATA[
    	  update board set plike = plike-1 WHERE board_id=#{board_id}
  		 ]]>
	</select>
	
	
	<!-- 좋아요 mapper end -->
	
	
	
	<!-- 현재 닉네임-->
	<select id="getPresetnNickname" resultType="String">
   <![CDATA[
     select nickname from member where member_id=#{member_id}
   ]]>
	</select>


	<resultMap type="BoardtypeVO" id="boardtypevo">
		<result column="boardtype_id" property="boardtype_id" />
		<result column="boardtypename" property="boardtypename" />
	</resultMap>

	<resultMap type="BoardVO" id="boardvo">
		<result column="board_id" property="board_id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="pdate" property="pdate" />
		<result column="plike" property="plike" />
		<result column="hit" property="hit" />
		<result column="hashtag" property="hashtag" />
		<result column="pgroup" property="pgroup" />
		<result column="pstep" property="pstep" />
		<result column="ratescore" property="ratescore" />
		<result column="avgscore" property="avgscore" />
		<result column="count" property="count" />
		<collection property="memberVO" resultMap="membervo" />
		<collection property="boardtypeVO" resultMap="boardtypevo" />
		<collection property="goodsVO" resultMap="goodsvo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="CartVO" id="cartvo">
		<result column="cart_id" property="cart_id" />
		<result column="orderstate" property="orderstate" />
		<result column="amount" property="amount" />
		<collection property="memberVO" resultMap="membervo" />
		<collection property="goodsVO" resultMap="goodsvo" />
		<collection property="payVO" resultMap="payvo" />
	</resultMap>

	<resultMap type="CategoryVO" id="categoryvo">
		<result column="category_id" property="category_id" />
		<result column="categoryname" property="categoryname" />
		<result column="code" property="code" />
		<result column="sortname" property="sortname" />
	</resultMap>

	<resultMap type="FollowVO" id="followvo">
		<result column="follow_id" property="follow_id" />
		<result column="follower_id" property="follower_id" />
		<collection property="memberVO" resultMap="membervo" />
	</resultMap>

	<resultMap type="GoodsVO" id="goodsvo">
		<result column="goods_id" property="goods_id" />
		<result column="goodsname" property="goodsname" />
		<result column="price" property="price" />
		<result column="description" property="description" />
		<result column="psize" property="psize" />
		<result column="pcolor" property="pcolor" />
		<result column="thumbnail" property="thumbnail" />
		<result column="image3d" property="image3d" />
		<result column="count" property="count" />
		<result column="pcheck" property="pcheck" />
		<collection property="stockVO" resultMap="stockvo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="ImageVO" id="imagevo">
		<result column="img_id" property="img_id" />
		<result column="imgname" property="imgname" />
		<collection property="boardVO" resultMap="boardvo" />
		<collection property="goodsVO" resultMap="goodsvo" />
	</resultMap>

	<resultMap type="LogintypeVO" id="logintypevo">
		<result column="logintype_id" property="logintype_id" />
		<result column="logintypename" property="logintypename" />
	</resultMap>

	<resultMap type="MemberVO" id="membervo">
		<result column="member_id" property="member_id" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="tel" property="tel" />
		<result column="address" property="address" />
		<result column="trycount" property="trycount" />
		<result column="thumbnail" property="thumbnail" />
		<result column="enable" property="enable" />
		<result column="certify" property="certify" />
		<result column="pdate" property="pdate" />
		<collection property="roleVO" resultMap="rolevo" />
		<collection property="logintypeVO" resultMap="logintypevo" />
		<collection property="categoryVO" resultMap="categoryvo" />
	</resultMap>

	<resultMap type="PaymentVO" id="paymentvo">
		<result column="payment_id" property="payment_id" />
		<result column="paymentname" property="paymentname" />
	</resultMap>

	<resultMap type="PaystateVO" id="paystatevo">
		<result column="paystate_id" property="paystate_id" />
		<result column="paystatename" property="paystatename" />
	</resultMap>

	<resultMap type="PayVO" id="payvo">
		<result column="pay_id" property="pay_id" />
		<result column="paypice" property="payprice" />
		<result column="usepoint" property="usepoint" />
		<result column="earningpoint" property="earningpoint" />
		<result column="paydate" property="paydate" />
		<result column="deliveryaddress" property="deliveryaddress" />
		<result column="deliveryname" property="deliveryname" />
		<result column="deliverytel" property="deliverytel" />
		<collection property="PaymentVO" resultMap="paymentvo" />
		<collection property="PaystateVO" resultMap="paystatevo" />
	</resultMap>

	<resultMap type="PointtypeVO" id="pointtypevo">
		<result column="pointtype_id" property="pointtype_id" />
		<result column="pointtypename" property="pointtypename" />
	</resultMap>

	<resultMap type="PointVO" id="pointvo">
		<result column="point_id" property="point_id" />
		<result column="pscore" property="pscore" />
		<result column="pdate_id" property="point_id" />
		<collection property="PointtypeVO" resultMap="pointtypevo" />
		<collection property="MemberVO" resultMap="membervo" />
	</resultMap>

	<resultMap type="RoleVO" id="rolevo">
		<result column="role_id" property="role_id" />
		<result column="rolename" property="rolename" />
	</resultMap>

	<resultMap type="StockVO" id="stockvo">
		<result column="stock_id" property="stock_id" />
		<result column="stockname" property="stockname" />
	</resultMap>

	<resultMap type="TagVO" id="tagvo">
		<result column="tag_id" property="tag_id" />
		<result column="goodsname" property="goodsname" />
		<result column="goodspath" property="goodspath" />
		<collection property="boardVO" resultMap="boardvo" />
	</resultMap>

<!-- 좋아요 resultmap -->
<resultMap type="PlikeVO" id="plikevo">
		<result column="plike_id" property="plike_id" />
		<result column="count" property="count" />
		<collection property="memberVO" resultMap="membervo" />
		<collection property="boardVO" resultMap="boardvo" />
	</resultMap>


</mapper>
